<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новое объявление</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<div id="header">
    <H3>Новое объявление</H3>
</div>

<div class="content1">
    <div class="content">
        <a href="/">Главная страница</a>
        <br>
        <form method="post" enctype="multipart/form-data" th:action="@{addSaleAd}" th:object="${saleAd}">
            Заголовок:
            <p><textarea rows="2" cols="160" name="heading" th:field="*{heading}"></textarea></p>
            <br>
            Текст:
            <p><textarea rows="50" cols="160" name="content" th:field="*{content}"></textarea></p>
            <br>
            Цена:
            <input name="price" type="number" th:field="*{price}">
            <br>
            Номер телефона:
            <input name="phoneNumber" type="text" th:field="*{phoneNumber}">
            <br>
            <input type="file" name="file">
            <br>
            <input type="submit" value="Добавить объявление">
        </form>
    </div>
</div>
</body>
</html>