<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новое объявление</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css">
    <script>
        function validate() {
            let a = document.forms["saleAdForm"]["heading"].value;
            if (a === "") {
                alert("Укажите заголовок объявления");
                return false;
            }
            let b = document.forms["saleAdForm"]["content"].value;
            if (b === "") {
                alert("Объявление не может быть пустым");
                return false;
            }
            let c = document.forms["saleAdForm"]["price"].value;
            if (c === "") {
                alert("Укажите цену");
                return false;
            }
            let d = document.forms["saleAdForm"]["phoneNumber"].value;
            if (d === "") {
                alert("Укажите номер телефона");
                return false;
            }
        }
    </script>
</head>
<body>
<div id="header">
    <H3>Новое объявление</H3>
</div>

<div class="content1">
    <div class="content">
        <a href="/">Главная страница</a>
        <br>
        <form name="saleAdForm" method="post" enctype="multipart/form-data" th:action="@{addSaleAd}"
              th:object="${saleAd}" onsubmit="return validate()">
            Заголовок:
            <p><textarea rows="2" cols="160" name="heading" th:field="*{heading}"></textarea></p>
            <br>
            Текст:
            <p><textarea rows="50" cols="160" name="content" th:field="*{content}"></textarea></p>
            <br>
            Цена:
            <input name="price" type="number" th:field="*{price}">
            <br>
            Номер телефона:
            <input name="phoneNumber" type="text" th:field="*{phoneNumber}">
            <br>
            <input type="file" name="file">
            <br>
            <input type="submit" value="Добавить объявление">
        </form>
    </div>
</div>
</body>
</html>