<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Фото</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<div id="header">
    <H3>Фото домов и архитектуры от пользователей</H3>
</div>

<div class="content1">
    <div class="content">
        <a href="/">Главная страница</a>
        <br>
        <td>
            <span th:if="${photos.size == 0}">
                Фото нет
            </span>
            <span th:unless="${photos.size == 0}">
                <tr th:each="photo: ${photos}">
                    <small><a th:text="${photo.key.name}" th:href="@{/profile(login=${photo.key.login})}">name</a></small>
                    <p th:utext="${photo.value.urlPhoto}"></p>
                </tr>
            </span>
        </td>
    </div>
</div>
</body>
</html>