<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Загрузка фото профиля</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<div id="header">
    <H3>Загрузка фото профиля</H3>
</div>

<div class="content1">
    <div class="content">
        <a href="/">Главная страница</a>
        <br>
        <form th:action="@{uploadPhotoProfile}" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <br>
            <input type="submit" value="Загрузить фото">
        </form>
        <br>
        <form action="/settings">
            <button>Назад</button>
        </form>
    </div>
</div>
</body>
</html>